  /*字体颜色变量*/
  $font-default-color:#353535;
  $font-info-color:#888888;
  $font-info--color-light:#bbbbbb;
  $font-danger-color:#fa7821;
  $font-other-color:#dddddd;
  $font-error-color:#e60000;

  /*线条颜色变量*/
  $border-default:#eeeeee;
  $border-info:#e6e8e9;

  /*主色调*/
  $color-default:#3d9738;
  $color-info:#62b42f;

  /*背景色*/
  $bg-default:#f6f8f9;

  /*字体字号及加粗*/
  $font-size-24:24px;
  $font-size-14:14px;

  /*背景色*/
  $bg-fff:#fff;